rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      allow read, update, delete: if request.auth != null 
                                  && 'userId' in resource.data 
                                  && resource.data.userId == request.auth.uid;
    }
    
    match /users/{userId} {
      // Users can create their own profile document.
      allow create: if request.auth != null && request.auth.uid == userId;

      // Users can read and update their own profile.
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
